html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--FontFamily);
  background-color: var(--BgColor);
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: var(--ButtonText) !important;
}
p{
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

/*Text */
h1 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-family: var(--FontFamily);
}

@media (min-width: 479px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.3;
  font-family: var(--FontFamily);
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
  font-weight: 600;
  font-family: var(--FontFamily);
}

.text-size-large {
  font-size: 1.25rem;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .text-size-large {
    font-size: 1.5rem;
  }
}

.text-size-medium {
  font-size: 1.1rem;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .text-size-medium {
    font-size: 1.25rem;
  }
}

.text-size-small {
  font-size: .9rem;
  line-height: 1.4;
}

.text-white {
  color: #FFFFFF;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-main {
  background-color: var(--ButtonColor);
  color: var(--ButtonText);
}

/* Margin */
.margin-large{
  margin-bottom: 6rem;
}

.margin-medium{
  margin-bottom: 3rem;
}

.margin-small{
  margin-bottom: 1rem;
}

.w-80{
  max-width: 80%;
}

/* Button */
.button {
  color: var(--ButtonText);
  background-color: var(--ButtonColor);
  border-radius: var(--ButtonRadius);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
}

@media (min-width: 768px){
  .button {
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  }
}	

.button:hover {
  filter: brightness(85%);
  color: var(--ButtonText);
}

/*Hero*/
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--BgColor);
  overflow: hidden;
  min-height: 600px;
  position: relative;
}

img.hero-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  text-align: center;
}
.hero-description{
  max-width: 80%;
}

@media (min-width: 768px) {
  .hero-description{
    max-width: 600px;
  }
  
}

/* Portfolio */
.square-img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

.vertical-img {
  aspect-ratio: 4/5;
  width: 100%;
  object-fit: cover;
}

.circle-img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.rounded-img{
  border-radius: var(--ButtonRadius);
}

/* Review */
.review-img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 1rem;
}

/* Gallery */
.container-fluid {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}

/*Brand logo*/
.brand-logo {
  padding: 0.5rem;
  max-width: 100px;
  margin: 1rem auto;
}